backend/db/.env
/.gradio
/.idea
/chroma_db
app.py
backend/db/consulta.sql
backend/db/conversas_chat.db
/venv
/venv_ia_limpo
/arquivos_para_indexar
/backend/__pycache__
backend/.gradio/certificate.pem
